:root {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.filter-white {
    filter: invert(96%) sepia(96%) saturate(0%) hue-rotate(99deg) brightness(105%) contrast(103%);
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}
.wrapper > div {
    border: 1px solid black;
}
.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: rgb(10, 144, 233);
    color: white;
    display: grid;
    grid-template-rows: 10% 45% 45%;
    justify-content: left;
}
.sidebar-header {
    font-weight: bolder;
    font-size: 1.2rem;
    align-self: center;
    display: flex;
    gap: 10px;
  
}
.sidebar-header > div {
    grid-column: 2;
    align-self: center;
}
.sidebar-header > img {
    height: 50px;
    
}
.sectionOne {
    list-style: none;
    font-weight: bold;
    grid-row: 2/3;
}
.sectionTwo {
    list-style: none;
    font-weight: bold;
    grid-row: 3/4;
}

ul > li {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.sidebar-icons {
    color: white;
    height: 25px;
    justify-self: center;
    align-self: center;
    grid-column: 1;
}
.header {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-rows: 40% 60%;
   
}

.navigation {
    display: flex;
    grid-row: 1/2;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
.navigation input{
    width: 35vw;
    height: 30px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: #f3f4f6;
    font-size: 1rem;
}
.search {
    display: flex;
    align-items: center;
    gap:15px;
    margin-left: 1vw;
}
.header-right {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-right: 4vw;
}
.nav-icons {
    height: 40px;
}
.utilitybar {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
.utilitybar p {
    font-weight: bold;
    font-size: 1.5rem;
}
.utilitybar span {
    font-weight: normal;
    font-size: 1rem;
}
.utilitybar-left {
    display: flex;
    align-items: center;
    gap: 1vh;
    margin-left: 1vw;
}

#bigicon {
    height: 90px;
}
.buttons {
    display: flex;
    gap: 1.5vw;
    margin-right: 4vw;
}
button {
    background-color: rgb(10, 144, 233);
    color: white;
    border: 0px;
    border-radius: 100px;
    height: 50px;
    width: 110px;
    font-size: 0.75rem;
    font-weight: bold;
}

.main {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template: 1fr 1fr/3fr 1fr;
    background-color: #f3f4f6;
    padding: 2vh;
}
.projects-section {
    grid-column: 1;
    grid-row: 1/3;
}
.projects {
    margin-top: 10px;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template: 1fr 1fr 1fr/1fr 1fr;
    gap: 30px;
}
.projects > div {
    background-color: white;
    width: 85%;
    height: 75;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 5px 5px 5px gray;
    
}
.trend {
    grid-column: 2 ;
}